<div class="blog-header">
  <h1 class="blog-title">Contacts#Page</h1>
  <p class="lead blog-description">Find me in app/views/contact/contacts.html.erb</p>
</div>

<div class="row">
  <div class="col-sm-8 blog-main">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Email</th>
          <th>Name</th>
          <th>Message</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @contacts.each do |contact| %>
          <tr id="<%= contact.email %>">
            <th scope="row"><%= contact.email %></th>
            <td><%= contact.name %></td>
            <td><%= contact.message %></td>
            <td><%= link_to "Show Activities", activities_path(contact.cid) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
